### Python ###
/src/*.egg-info/
dist/
.pytest_cache/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Rope project settings
.ropeproject

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
